# Copy this file to .env and fill in the values
JWT_SECRET=changeMeInProductionWithALongRandomString123456
GCS_BUCKET_NAME=singify-dev-bucket
GCS_CREDENTIALS_FILE=./gcs-credentials.json
GCS_CREDENTIALS_PATH=/app/gcs-credentials.json
